* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 10px auto;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    color: #777;
    font-size: 1.3em;
    text-transform: capitalize;
}

h1 {
    font-weight: lighter;
    font-size: 1.12em;
    text-align: center;
}

.rps_container {
    display: flex;
    justify-content: space-around;
}

#rps_user-score,
#rps_cp-score {
    width: calc(35% - 40px);
}

#rps_game {
    display: flex;
    width: calc(30% - 40px);
}

#rps_user-choice,
#rps_cp-choice {
    display: flex;
    flex-direction: column;
    flex: 1 1 90px;
}

.rps_choice {
    margin: 21px auto;
    cursor: pointer;
}

/* Rock Style ----------------------------------------------- */
div.rps_rock {
    position: relative;
    background: -moz-linear-gradient(top,  #000b4c 0%, #000b4c 49%, #0082e5 50%, #0082e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #000b4c 0%,#000b4c 49%,#0082e5 50%,#0082e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #000b4c 0%,#000b4c 49%,#0082e5 50%,#0082e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-position: 0 0;
    background-size: 200%;
    height: 38px;
    width: 46px;
    transition: background 0.2s ease;
}

div.rps_rock:hover {
    background-position: 0 -100%;
}

div.rps_rock::before {
    content: "|||";
    display: block;
    color: #fff;
    font-size: 32px;
    transform: translate(18px, 10px) rotate(90deg);
    letter-spacing: 0.05rem;
}

div.rps_rock::after {
    display: block;
    height: 33px;
    width: 32px;
    transform: translate(-6px, -41px) rotate(225deg);
    content: "L";
    color: #fff;
    font-size: 29px;
    text-align: center;
    line-height: 27px;
    background: -moz-linear-gradient(top,  #000b4c 0%, #000b4c 49%, #0082e5 50%, #0082e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #000b4c 0%,#000b4c 49%,#0082e5 50%,#0082e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #000b4c 0%,#000b4c 49%,#0082e5 50%,#0082e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: 200%;
    background-position: 0 0;
    transition: background 0.2s ease;
}

div.rps_rock:hover::after{
    background-position: 0 -100%;
}

/* Paper Style ----------------------------------------------- */
div.rps_paper {
    background: #2FE8A9;
    position: relative;
    height: 37px;
    width: 53px;
    transition: background 0.2s ease;
}

div.rps_paper::before {
    content: "|";
    background-color: inherit;
    display: block;
    color: #fff;
    font-size: 41px;
    text-align: center;
    width: 17px;
    position: absolute;
    height: 38px;
    transform: translate(29px, -2px) rotate(-90deg);
    border: 3px solid #fff;
    border-top: 0;
}

div.rps_paper::after {
    content: "";
    background-color: inherit;
    display: block;
    height: 9px;
    width: 37px;
    border-bottom: 3px solid #fff;
    transform: translate(0, -10px) rotate(-30deg);
}

/* Scissors Style ----------------------------------------------- */
div.rps_scissors,
div.rps_scissors::before {
    background: #FFAADA;
    border-bottom: 3px solid #fff;
}

div.rps_scissors {
    transform: rotate(10deg);
    width: 44px;
    height: 12px;
}

div.rps_scissors::before {
    content: "";
    display: block;
    transform: translate(0, -11px) rotate(-20deg);
    width: 40px;
    height: 9px;
}

div.rps_scissors::after {
    display: block;
    height: 33px;
    width: 32px;
    background-color: inherit;
    content: "||";
    transform: translate(-14px, -16px) rotate(283deg);
    color: #fff;
    font-size: 36px;
    text-align: center;
    line-height: 35px;
}

div.rps_cp {
   transform: scaleX(-1); 
}

/* Five bars style ----------------------------------------- */
span.fiveBars {
    margin: 2px 3px;
    display: inline-block;
}

.fiveBars::after {
    transform: skew(53deg) translate(-17px, 0px) rotate(-54deg);
    display: inline-block;
    content: "|";
}

