* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 10% auto;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    color: #777;
    font-size: 1.3em;
    text-transform: capitalize;
}

.rps_container {
    display: flex;
    justify-content: space-around;
}

#rps_user-score,
#rps_cp-score {
    width: calc(30% - 40px);
}

#rps_game {
    display: flex;
    width: calc(40% - 40px);
    justify-content: space-between;
}

#rps_user-choice,
#rps_cp-choice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 225px;
    width: 50%;
}

.rps_choice {
    cursor: pointer;
    border-radius: 3px;
    margin: 0 auto;
}

.rps_choice::after,
.rps_choice::before {
    border-radius: 3px;
}

/* Rock Style ----------------------------------------------- */
div.rps_rock {
    position: relative;
    background: linear-gradient(to bottom,  #000b4c 0%,#000b4c 49%,#0082e5 50%,#0082e5 100%); 
    background-position: 0 -100%;
    background-size: 200%;
    height: 38px;
    width: 40px;
    transform: translate(5px, 0);
    transition: background 0.2s ease;
}

div.rps_rock:hover {
    background-position: 0 0;
}

div.rps_rock::before {
    content: "|||";
    display: block;
    color: #fff;
    font-size: 32px;
    transform: translate(20px, 7px) rotate(90deg);
    letter-spacing: 0.05rem;
}

div.rps_rock::after {
    display: block;
    height: 33px;
    width: 32px;
    transform: translate(-6px, -41px) rotate(225deg);
    content: "L";
    color: #fff;
    font-size: 29px;
    text-align: center;
    line-height: 27px;
    background: linear-gradient(to bottom,  #000b4c 0%,#000b4c 49%,#0082e5 50%,#0082e5 100%); 
    background-size: 200%;
    background-position: 0 -100%;
    transition: background 0.2s ease;
}

div.rps_rock:hover::after{
    background-position: 0 0;
}

/* Paper Style ----------------------------------------------- */
div.rps_paper {
    background: linear-gradient(to right,  #115438 0%,#115438 49%,#2fe8a9 50%,#2fe8a9 100%); 
    background-position: -100%;
    background-size: 200%;
    position: relative;
    height: 37px;
    width: 53px;
    transition: background 0.2s ease;
}

div.rps_paper:hover::before,
div.rps_paper:hover::after,
div.rps_paper:hover {
    background-position: 0;
}

div.rps_paper::before {
    content: "|||";
    background: linear-gradient(to right,  #115438 0%,#115438 49%,#2fe8a9 50%,#2fe8a9 100%); 
    background-position: -100%;
    background-size: 200%;
    display: block;
    color: #fff;
    font-size: 35px;
    width: 18px;
    position: absolute;
    height: 49px;
    transform: translate(26px, -6px) rotate(-90deg);
    letter-spacing: 0.06rem;
    line-height: 63px;
    text-indent: -6px;
}

div.rps_paper::after {
    content: "|";
    background: linear-gradient(to right,  #115438 0%,#115438 49%,#2fe8a9 50%,#2fe8a9 100%); 
    background-position: -100%;
    background-size: 200%;
    display: block;
    height: 36px;
    width: 10px;
    transform: translate(13px, -21px) rotate(-106deg);
    font-size: 31px;
    color: #fff;
    line-height: 43px;
    text-indent: -5px;
}

/* Scissors Style ----------------------------------------------- */
div.rps_scissors {
    height: 33px;
    width: 33px;
    background: #FFAADA;
    transform: translate(-17px, 0) rotate(120deg);
    color: #fff;
    font-size: 36px;
    text-align: center;
    text-indent: 4px;
    line-height: 2px;
    letter-spacing: 0.09rem;
}

div.rps_scissors::after,
div.rps_scissors::before {
    background: inherit;
    width: 42px;
    height: 9px;
    content: "";
    position: absolute;
    display: block;
    color: inherit;
}

div.rps_scissors::after {
    transform: translate(-26px, -5px) rotate(66deg);
}

div.rps_scissors::before {
    transform: translate(-39px, 7px) rotate(48deg);
    width: 53px;
}

/* cp ------------------------------------------------------ */
div.rps_cp {
   transform: scaleX(-1); 
}

div.rps_cp.rps_scissors {
    transform: scaleX(-1) rotate(120deg);
}

/* Five bars style ----------------------------------------- */
span.fiveBars {
    margin: 2px 3px;
    display: inline-block;
}

.fiveBars::after {
    transform: skew(53deg) translate(-17px, 0px) rotate(-54deg);
    display: inline-block;
    content: "|";
}

