body{
    width: 100%;
    margin: 10px auto;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    color: #777;
    font-size: 1.3em;
    text-transform: uppercase;
}
#rps_game{
    width: 290px;
    margin: 20px auto;
}
h1{
    font-weight: lighter;
    font-size: 1.12em;
    text-align: center;
}
#my_choice,
#cp_choice{
    display: inline-block;
}
.rps_choice,
#cp_choice{
    width: 80px;
    height: 70px;
    border: 1px solid #fff;
    box-sizing: border-box;
    margin-bottom: 5px;
}
.rps_choice{
    background: url(rps_sprite.png);
    background-repeat: no-repeat;
    cursor: pointer;
}
div.rps_rock{
    background: #777777;
    position: relative;
    height: 39px;
    width: 51px;
}

div.rps_rock:hover{
    background: #7777ff;
}

div.rps_rock::before{
    content: "|||";
    display: block;
    color: #fff;
    font-size: 34px;
    transform: rotate(90deg) translate(10px, -14px);
}

div.rps_rock::after{
    display: block;
    height: 33px;
    width: 32px;
    background: inherit;
    transform: translate(-1px, -42px) rotate(170deg);
    content: "L";
    color: #fff;
    font-size: 29px;
    text-align: center;
    line-height: 27px;
}

div.rps_paper{
    background-position: 0 -120px;
}
div.rps_scissors{
    background-position: 0 -51px;
}
div.rps_rock_cp{
    background-position: -106px 15px;
}
div.rps_paper_cp{
    background-position: -105px -120px;
}
div.rps_scissors_cp{
    background-position: -105px -51px;
}
.rps_choice:hover{
    border: 1px solid #dedeff;
}
.rps_choice:focus{
    border:1px solid #777;
}
#cp_choice{
    margin-left: 54px;
    vertical-align: top;
}
#count_box{
    background-color: #fff;
    width: 220px;
    height: 40px;
    box-sizing: border-box;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#rps_score span{
    margin: 2px 3px;
    display: inline-block;
}

.fiveBars::after{
    transform: skew(53deg) translate(-17px, 0px) rotate(-54deg);
    display: inline-block;
    content: "|";
}
